<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список продуктов</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div th:replace="~{navigation :: navigation(allProducts)}"/>
    <h1>Список продуктов</h1>
    <table class="table table-dark">
        <thead>
        <tr>
            <td>Id</td>
            <td>Название</td>
            <td>Цена</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${Products}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.name}"></td>
            <td th:text="${p.price}"></td>
            <td><a th:href="@{'/products/edit/' + ${p.id}}" class="btn btn-primary">Изменить</a>
                <a th:href="@{'/products/delete/' + ${p.id}}" class="btn btn-danger">Удалить</a></td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" th:href="@{/products/add}">Добавить новый продукт</a>
    <br>
    <br>
    <a th:href="@{/}" class="btn btn-info">на Главную</a>
</div>
</body>
</html>