<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div th:replace="~{navigation :: navigation(allClients)}"/>
    <h1>Список пользователей</h1>
    <table class="table table-dark">
        <thead>
        <tr>
            <td>Id</td>
            <td>Имя</td>
            <td>Возраст</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="u : ${Users}">
            <td th:text="${u.id}"></td>
            <td th:text="${u.name}"></td>
            <td th:text="${u.age}"></td>
            <td><a th:href="@{'/users/edit/' + ${u.id}}" class="btn btn-primary">Изменить</a>
                <a th:href="@{'/users/delete/' + ${u.id}}" class="btn btn-danger">Удалить</a></td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" th:href="@{/users/add}">Добавить нового пользователя</a>
    <br>
    <br>
    <a th:href="@{/}" class="btn btn-info">на Главную</a>
</div>
</body>
</html>